<!-- Start Contact block -->
<div class="contact-card mb-4">
    <div class="contact-card-body">
      <h2 class="contact-card-title">{{ value.name }}</h2>
      <p class="contact-card-text">{{ value.position }}</p>
      <p class="contact-card-text"><strong>Email:</strong> {{ value.email }}</p>
      <p class="contact-card-text"><strong>Phone:</strong> {{ value.phone }}</p>
    </div>
    <div class="contact-card-hidden">
        <p class="contact-card-text text-end"><strong>Click to Email</strong></p>
      </div>
  </div>
<!-- End Contact block -->