{% extends "base.html" %}
{% load static wagtailcore_tags create_id%}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
{% include "components/page_title_component.html" with title="Search" icon="fa-solid fa-magnifying-glass" %}


<div class="sm:ml-20 mb-20">
<form action="{% url 'search' %}" method="get" class="flex flex-wrap w-full sm:w-fit">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} class="w-full mb-6 sm:mb-0 sm:w-[20rem] text-xl rounded_xl shadow-md border-2 border-neutral-200 sm:mr-10 p-3">
    <input type="submit" value="Search" class="button text-xl bg-orange-400 rounded-xl border-2 p-3 mx-auto md:mx-none">
</form>
</div>


<div class="text-xl mx-auto ml-10 sm:ml-20">
<ul class="list-none">
    {% if search_results %}
        {% for result in search_results %}
        <li class="!pl-0 mb-16">
            <div class="text-xl font-thin">
                {% if result.file %}
                <a href="{{ result.url }}" class="!text-orange-600 !no-underline font-semibold">{{ result }}</a> - <i>Document</i>
                {% if result.score_ %}
                    - {{ result.score_ }}
                {% endif %}
                {% elif result.address %}
                {% create_id result.name as business_id%}
                <a href="/directory#{{ business_id }}" class="!text-orange-600 !no-underline font-semibold">{{ result }}</a> - <em>Business</em>
                {% if result.score_ %}
                    - {{ result.score_ }}
                {% endif %}
                <div class="ml-6 my-3"><em>{% for category in result.categories.all %}{% if forloop.last %}{{category}}{% else %}{{category}},&nbsp;{% endif %}{% endfor %}</em></div>
            {% if result.search_keywords %}
                <div class="ml-6 my-3"><span class="font-bold">Keywords: </span>
                {% for keyword in result.search_keywords %}
                    {% if forloop.last %}{{keyword}}{% else %}{{keyword}},&nbsp;{% endif %}
                {% endfor %}
                </div>
            {% endif %}
                <div class="flex ml-6 my-3">
                <div><span class="font-bold">Address:&nbsp</span></div>
                <div>{{result.address}}</div>
                </div>
                {% if result.phone_number %}
                <div class="flex ml-6 my-3">
                <div><span class="font-bold">Phone: </span></div>
                <div>{{result.phone_number}}</div>
                </div>
                {% endif %}
                {% else %}
                <a href="{% pageurl result %}" class="!text-orange-600 !no-underline font-semibold">{{ result }} </a> - <i>Page</i> 
                {% if result.score_ %}
                    - {{ result.score_ }}
                {% endif %}
                {% endif %}
            </div>
            {% if result.search_description %}
            {{ result.search_description|safe }}
            {% endif %}
            {% if not result.address %}
            {% for highlight in result.highlights_ %}
            <div class="ml-6 my-6 font-thin">
                {{ highlight|safe }}
            </div>
            {% endfor %}
            {% endif %}
        </li>
        {% endfor %}
    {% else %}
     <p> No results found </p>
    {% endif %}
</ul>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
{% endif %}
{% endblock %}
</div>