{% load wagtailimages_tags %}

<div class="overflow-hidden bg-neutral-100">
    <div class="w-full mt-5 bg-white text-white dark:text-neutral-800 md:mt-4 lg:mt-6 xl:mt-10 h-[5px] lg:h-[17px] scale-[2] origin-[top_center] overflow-hidden">
        <svg viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg" class="bg-neutral-100 h-fill">
          <path d="M 0 48 L 1437.5 48 L 2880 48 L 2880 0 L 2160 0 C 1453.324 60.118 726.013 4.51 720 0 L 0 0 L 0 48 Z"
            fill="rgb(255,255,255)"></path>
        </svg>
    </div>
</div>

<div class="text-center mx-auto w-[80%] mb-10">
    <h1 class="mb-10">Upcoming Events</h1>
<div class="flex flex-wrap">
{% for card in value.cards %}
<a href="
        {% if card.link.page %}
            {{ card.link.page.url }}
        {% endif %}
        "
    class="mx-auto my-5">
    <div class="text-center rounded-lg shadow-lg overflow-hidden transition duration-300 ease-in-out hover:scale-110">
        {% image card.image fill-300x300 as img %}
        <img src="{{ img.url }}" alt="{{ card.title }}" class="mx-auto w-[300px] h-[450px]"/>
        <div class="text-2xl py-3">{{ card.title }}</div>
            {% if card.text %}
                <div class="py-3 bg-neutral-200">{{ card.text }}</div>
            {% endif %}                     
    </div>
</a>    
{% endfor %}
</div>
