{% load wagtailimages_tags %}

<div class="flex flex-wrap text-center mx-auto">
{% for card in value.cards %}
<a href="
        {% if card.link.page %}
            {{ card.link.page.url }}
        {% endif %}
        "
    class="mx-auto my-5">
    <div class="text-center rounded-lg shadow-lg overflow-hidden transition duration-300 ease-in-out hover:scale-110 hover:bg-orange-300">
        {% image card.image max-300x500 as img %}
        <img src="{{ img.url }}" alt="{{ card.title }}" class="mx-auto w-[300px] h-[450px]"/>
        <div class="text-2xl py-3">{{ card.title }}</div>
            {% if card.text %}
                <p class="my-3">{{ card.text }}</p>
            {% endif %}                     
    </div>
</a>    
{% endfor %}
</div>