{% load wagtailcore_tags %}

<div class="flex flex-wrap noprose mx-auto">
{% for link in value.links %}
<a href="
        {% if link.value.page %}
            {{ link.value.page.url }}
        {% endif %}
        "
    class="mx-auto my-5">
    <div class="sticky flex rounded-lg shadow-lg overflow-hidden w-[280px] h-[120px]">
        <div class="flex bg-orange-400 w-full">
            <div class="flex rounded-lg">
                <i class="fa fa-solid {{link.page.icon}} fa-3x text-black p-3 my-auto w-[100px]"></i>
            </div>
            <div class="p-3 mr-3 text-right text-normal ml-auto my-auto">
                {% if link.page.description %}
                <p class="text-normal my-3">{{ link.page.description }}</p>
                {% else %}
                Click to visit page
                 {% endif %}
            </div>           
      </div>
      <div class="absolute w-[280px] h-[120px]">
        <div class="flex transition duration-500 ease-in-out translate-x-[-280px] h-[120px] hover:translate-x-[0px] w-[560px]">
            <div class="flex p-3 ml-auto my-auto bg-neutral-50 w-[180px] h-[120px]">
                <div class="my-auto mx-auto text-3xl font-semibold">
                    {{ link.page.title }}
                </div>
            </div>
        </div>           
    </div>
    </div>
</a>    
{% endfor %}
</div>