{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags format_date create_id %}

{% block content %}
{% include "components/page_title_component.html" with title="Business Directory" icon="fa-book-open" %}
<div class="w-[80%] text-center mx-auto">

    <div class="flex flex-wrap xl:grid xl:grid-cols-2 mb-12">
            <div class="mx-auto w-full sm:w-[500px] md:w-auto"><input id="search" class="mb-5 p-4 bg-neutral-200 rounded-lg w-full md:w-[300px] xl:w-[500px]" type="text" placeholder="Search..."/></div>
            <div class="mx-auto w-full sm:w-[500px] md:w-auto"><select id="category" class="mb-5 p-4 bg-neutral-200 rounded-lg  w-full md:w-[300px] xl:w-[500px]"><option value="all">All</option></select></div>
    </div>
</div>
<div class="w-[80%] mx-auto">
    <div id="business-container">
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

document.addEventListener('DOMContentLoaded', init, false);
document.getElementById("search").addEventListener("keyup", function(event) {
    render_businesses(document.getElementById("search").value);
});
document.getElementById("category").addEventListener("mouseup", function(event) {
    render_businesses(document.getElementById("search").value);
});
document.getElementById("category").addEventListener("touchend", function(event) {
    render_businesses(document.getElementById("search").value);
});

let parsed_data = [];
let tag_dictionary = {};
let sorted_categories = [];

const getKeyByValue = (obj, value) => 
        Object.keys(obj).find(key => obj[key] === value);

function not_in_search(search, c)
{
    return search
             && !c["name"].toLowerCase().includes(search.toLowerCase())
             && !c["description"].toLowerCase().includes(search.toLowerCase())
             && !c["contact_name"].toLowerCase().includes(search.toLowerCase())
             && !c["keywords"].reduce((result,k) => result || k.toLowerCase().includes(search.toLowerCase()), false)
}

function render_businesses(search)
{
    let result = "";
    let category_empty = {};
    console.log(search);

    let container = document.getElementById("business-container");

    for(let k in tag_dictionary) {

       category_empty[k] = true;

        parsed_data.forEach((c,i) => {

        console.log(tag_dictionary[k], c["tags"]);
        console.log(`--> ${tag_dictionary[k]}`);

        if (c["tags"].includes(k) && ((search && tag_dictionary[k].toLowerCase().includes(search.toLowerCase())) || !not_in_search(search, c))) {
            
            category_empty[k] = false;
        }
    });

    }

    //shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]

    for (let category_value in sorted_categories) {
        let k = getKeyByValue(tag_dictionary, sorted_categories[category_value]);

        if (document.getElementById("category").value != "-1" && k != document.getElementById("category").value) {
            continue;
        }

        if (category_empty[k] === true) {
            continue;
        }

        result += `<div class="text-2xl my-4">${tag_dictionary[k]}</div><hr/><div class="grid grid-cols-1 xl:grid-cols-2">`;

    parsed_data.forEach((c,i) => {

    console.log(tag_dictionary[k], c["tags"]);

    if (c["tags"].includes(k)) {

        if (not_in_search(search, c) && (search && !tag_dictionary[k].toLowerCase().includes(search.toLowerCase()))) {
            return;
        }

        result += `
            <div id="${c["name"].toLowerCase().replaceAll(" ", "_").replaceAll("&", "and")}" class="mx-auto w-full my-8 sm:w-[500px] shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-lg bg-white dark:bg-neutral-700 flex flex-col overflow-x-hidden">
                <div class="text-3xl bg-neutral-200 p-0 rounded-t-lg p-4">${c["name"]}</div>
                <div class="flex flex-wrap"><div class="me-8 p-4 grid gap-x-4 gap-y-6 grid-cols-4">
        `;

        c["keywords"] = [""];
        if (c.search_keywords && JSON.parse(c.search_keywords).length > 0) {
            c["keywords"] = JSON.parse(c.search_keywords)
             result += `

             <div class="my-auto col text-center text-orange-400"><i class="fa fa-circle-info fa-xl"></i></div><div class="col col-span-3">${c["keywords"].join(", ")}</div>`;
        }   
        if (c.contact_name) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-address-book fa-xl"></i></div><div class="col col-span-3"> ${c.contact_name} </div>`;
        }

        if (c.address) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-location-dot fa-xl"></i></div>`;
            if (c.google_maps_link) {
                result += `<div class="col col-span-3 text-orange-400"><a href="${c.google_maps_link}" target="_blank">${c.address.replace("\n", "<br/>")}</a></div>`;
            }
            else {
                result += `<div class="col col-span-3">${c.address.replace("\n", "<br/>")}</div>`;
            }
        }

        if (c.mailing_address) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-envelope fa-xl"></i></div><div class="col col-span-3">${c.mailing_address}</div>`;
        }
 
        if (c.email_address) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-at fa-xl"></i></div><div class="col col-span-3 text-orange-400"><a href="mailto:${c.email_address}">${c.email_address}</a></div>`;
        }

        if (c.website) {
            let website_string = c.website;
            if (website_string.length > 30) {
                website_string = website_string.substring(0, 30) + "...";
            }
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-globe fa-xl"></i></div><div class="col col-span-3 text-orange-400"><a href="${website_string}" target="_blank">Click here</a></div>`;
        }    
        if (c.phone_number) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-phone fa-xl"></i></div><div class="col col-span-3 text-orange-400"><a href="tel:${c.phone_number}">${c.phone_number}</a></div>`;
        }
        if (c.fax_number) {
            result += `<div class="my-auto col text-center text-orange-400"><i class="fa fa-fax fa-xl"></i></div><div class="col col-span-3 text-orange-400"><a href="tel:${c.fax_number}">${c.fax_number}</a></div>`;
        }
        if (c.description) {
            result += `</div><div class="px-8 py-4 flex-grow"><hr/><div class="p-2 pt-6"> ${c.description} </div>`;
        }

       /* result += `</div></div><div class="flex">`
        if (c.website) {
            result += `<div class="bg-orange-400 text-lg items-center text-center mr-1 w-1/2 rounded-bl-lg transition duration-300 hover:bg-orange-300"><a href="${c.website}" target="_blank" class="inline-block w-full h-full p-2"><i class="fa fa-globe"></i> Website</a></div>`;
        }*/

        

        /*let roundness = c.website ? "rounded-br-lg" : "rounded-b-lg";

        result += `<div class="bg-orange-400 flex-grow text-lg items-center text-center flex-grow ${roundness} transition duration-300 hover:bg-orange-300">`
            if // if we're on iOS, open in Apple Maps
            ((navigator.platform.indexOf("iPhone") != -1) || 
            (navigator.platform.indexOf("iPad") != -1) || 
            (navigator.platform.indexOf("iPod") != -1)) {
              result += `<a href="maps://maps.google.com/maps?q=${address}" target="_blank" class="inline-block w-full h-full p-2"><i class="fa fa-location-dot"></i> Map</a>`;
            }
          else // else use Google {
              result += `<a href="http://maps.google.com/maps?q=${address}" target="_blank" class="inline-block w-full h-full p-2"><i class="fa fa-location-dot"></i> Map</a>`;
          }
        result += `</div></div>`;*/
        result += `</div></div></div>`;
    }
});
    result += `</div>`;
    
    }
    container.innerHTML = result;
}

// TODO: Add way to refresh business data
async function init() {
    let response = await fetch("/directory/tags/", {cache: "no-store"});
    let data = await response.json();
    tag_dictionary = data.tags;

    // get array of tag_dictionary values
    sorted_categories = Object.values(tag_dictionary).sort();

    response = await fetch("/directory/businesses/?&limit=100", {cache: "no-store"});
    data = await response.json();
    parsed_data = data.businesses.map((c) => JSON.parse(c));

    parsed_data.forEach((c,i) => {
        c["tags"] = c["tags"].map((t) => String(t.tag));
    });

    let select = document.getElementById("category");
    for (a in select.options) {
        select.options.remove(0);
    }
    select.innerHTML += `<option value="-1">All</option>`;
    console.log(sorted_categories)
    for (let category_value in sorted_categories) {
        let k = getKeyByValue(tag_dictionary, sorted_categories[category_value]);
        select.innerHTML += `<option value="${k}">${tag_dictionary[k]}</option>`;
    }

    {% if category %}
    let category = "{{ category }}";
    if (category && category != "None" && sorted_categories.includes(category)) {
        select.value = getKeyByValue(tag_dictionary, category);
    }
    {% endif %}

    render_businesses();

    if (document.location.href.includes("#")) {
        let hash = document.location.href.split("#")[1];
        let element = document.getElementById(hash);
        if (element) {
            element.scrollIntoView();
        }
    }
}

</script>
{% endblock %}
