{% extends "base.html" %}

{% load common_tags wagtailcore_tags %}

{% block body_attributes %} data-te-class-active="!text-orange-600 border-l-4 border-orange-600" {% endblock %}

{% block content %}

{% include "components/page_title_component.html" with title=page.title icon=page.icon %}
 
<div class="md:grid md:grid-cols-4 flex flex-wrap-reverse">
    <div class="{% if page.include_scrollspy %} col-span-3 md:ml-8 xl:ml-16 {% else %} col-span-4 {% endif %} mx-auto w-full">
        <div>
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
  <div>
    {% if page.include_scrollspy %}
  <!-- Scrollspy -->
  <div id="scrollspy" class="sticky top-8 flex p-5 text-sm mb-16 xl:text-xl sm:ml-16 md:ml-0 text-xl md:text-sm">
    <div class="">
    <div class="font-semibold mb-5">Contents</div>
        {% for block in page.body %}
            {% is_section_type block as is_section_block %}
            {% if is_section_block %} 
                <ul data-te-nav-list-ref>               
                    {% include "components/scrollspy_section.html" with body=block.value %}
                </ul>
            {% endif %}               
      {% endfor %}
  </div>
</div>
  <!-- Scrollspy -->
  {% endif %}
</div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    const scrollSpy = new te.ScrollSpy(document.body, {
    target: "#scrollspy",
    offset: 200
  });
</script>
{% endblock %}