{% load wagtailimages_tags %}

<!-- Profile Card Block -->
<section class="mt-16 mb-32 text-center w-full">
  <div class="flex flex-wrap">
    {% for profile in value.profiles %}
    <div class="mb-20 mx-auto lg:px-5">
        <div
          class="rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
          <div class="relative overflow-hidden bg-cover bg-no-repeat w-[400px]">
            {% image profile.profile.photo fill-400x400 as img %}
            <img src="{{img.url}}" class="w-full rounded-t-lg !my-0" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed"></div>
            </a>
            <svg class="absolute text-white dark:text-neutral-700  left-0 bottom-0" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1440 320">
              <path fill="currentColor"
                d="M0,96L48,128C96,160,192,224,288,240C384,256,480,224,576,213.3C672,203,768,213,864,202.7C960,192,1056,160,1152,128C1248,96,1344,64,1392,48L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
              </path>
            </svg>
          </div>
          <div class="p-6">
            <h5 class="mb-4 text-xl font-bold">{{profile.profile.name}}</h5>
            <p class="mb-8 text-lg text-neutral-500 dark:text-neutral-300">{{profile.profile.position}}</p>
            <a class="w-auto items-center whitespace-nowrap rounded-lg bg-orange-500 text-white px-6 pb-3 pt-3.5 text-xl font-light leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#fbfbfb] transition duration-300 hover:bg-orange-300 hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus-visible:bg-neutral-200 focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] motion-reduce:transition-none" href="mailto:{{profile.profile.email}}">Email</a>
          </div>
        </div>
      </div>
    
      {% endfor %}
    </div>
</section>

        
<!-- End Profile Card Block -->
