{% load static menu_tags alert_tags wagtailcore_tags%}

{% get_alerts as alerts %}

{% if request.is_preview %}
{% if page.alert_level %}
{% if page.alert_level == 1 %}
<div
  class="flex w-full items-center rounded-lg bg-success-100 px-6 py-5 text-base text-success-700"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl page %}">
  <span class="mr-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5">
      <path
        fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd" />
    </svg>
  </span>
  {{page.summary}}
</a>
</div>
{% endif %}
{% if page.alert_level == 2 %}
<div
  class="flex w-full items-center rounded-lg bg-warning-100 px-6 py-5 text-base text-warning-800"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl page %}">
  <span class="mr-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5">
      <path
      fill-rule="evenodd"
      d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
      clip-rule="evenodd" />
    </svg>
  </span>
  {{page.summary}}
</a>
</div>
{% endif %}
{% if page.alert_level == 3 %}
<div
  class="flex w-full items-center rounded-lg bg-danger-100 px-6 py-5 text-base text-danger-700"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl page %}">
  <span class="mr-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5">
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
        clip-rule="evenodd" />
    </svg>
  </span>
  {{page.summary}}
</a>
</div>
{% endif %}
{% endif %}
{% endif %}

{% for alert in alerts %}
{% if not request.is_preview or page.alert_level == null or alert.id != page.id %}
{% if alert.alert_level == 1 %}
<div
  class="flex w-full items-center rounded-lg bg-success-100 px-6 py-5 text-base text-success-700"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl alert %}">
  <span class="mr-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5">
      <path
        fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022zM12 9a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd" />
    </svg>
  </span>
  {{alert.summary}}
</a>
</div>
{% endif %}
{% if alert.alert_level == 2 %}
<div
  class="flex w-full items-center rounded-lg bg-warning-100 px-6 py-5 text-base text-warning-800"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl alert %}">
  <span class="mr-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-5 w-5">
      <path
      fill-rule="evenodd"
      d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
      clip-rule="evenodd" />
    </svg>
  </span>
  {{alert.summary}}
</a>
</div>
{% endif %}
{% if alert.alert_level == 3 %}
<div
  class="flex w-full items-center rounded-lg bg-danger-100 px-6 py-5 text-base text-danger-700"
  role="alert">
  <a class="inline-flex mx-auto items-center" href="{% pageurl alert %}">
    <span class="mr-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="h-5 w-5">
        <path
        fill-rule="evenodd"
        d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
        clip-rule="evenodd" />
      </svg>
    </span>
  {{alert.summary}}
</a>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% get_menu "navigation" as navigation_menu %}
<nav id="top_nav_bar" class="relative md:flex w-full py-2 bg-neutral-200 dark:bg-neutral-600 font-['Lexend'] h-[65px]" data-te-navbar-ref>
  {% include "components/top_nav_bar.html" %}
</nav>
<nav
class="flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 shadow-lg dark:bg-neutral-600 font-['Lexend']"
data-te-navbar-ref>
  <button
  class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
  type="button"
  data-te-sidenav-toggle-ref
data-te-target="#sidenav-1"
aria-controls="sidenav-1"
aria-haspopup="true">
  <!-- Hamburger icon -->
  <span class="[&>svg]:w-7">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-7 w-7">
      <path
        fill-rule="evenodd"
        d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd" />
    </svg>
  </span>
</button>
<!-- class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto" -->
<div
class="lg:flex lg:grow min-[1600px]:grow-0 lg:flex-wrap lg:items-center lg:justify-between lg:px-3 lg:!relative lg:visible lg:!h-auto lg:!w-auto lg:!bg-transparent lg:!shadow-none lg:overflow-visible lg:!translate-x-0 fixed left-0 top-0 z-[1035] h-full w-60 -translate-x-full bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0 dark:bg-zinc-800"

id="sidenav-1"
data-te-sidenav-init
data-te-sidenav-hidden="true"
data-te-sidenav-position="fixed"
data-te-sidenav-width="300">
<div class="flex mx-0 lg:mx-7">
  <a href="/" class="mx-auto">
    <img class="my-5 w-[250px] hidden lg:inline lg:w-10 min-[1600px]:hidden" src="{% static 'images/logo_small.webp' %}">
    <img class="my-5 inline lg:hidden min-[1600px]:inline w-64 mx-4 my-0" src="{% static 'images/logo.webp' %}">
  </a>
</div>
  <div class="px-0 lg:grow xl:px-3">
    <div class="lg:flex lg:items-center">
      {% for item in navigation_menu.menu_items.all %}
        <div>
          {% include "components/menu_dropdown.html" with menu_item=item %}
        </div>
      {% endfor %}
      <!-- Blank div for spacing -->
      <div class="w-full flex h-24 invisible lg:hidden">
        Blank
      </div>
      <!-- End blank div for spacing -->
    </div>
  </div>
  </div>

<div class="my-0 flex md:hidden flex-grow">
  <div class="my-auto flex-grow">{% include "components/search.html" %}</div>
  <div class="flex"><a href="https://www.facebook.com/villageofconsort" target="_blank" class="m-auto"><i class="fa-brands fa-square-facebook text-4xl mr-2"></i></a></div>
</div>
</nav>

{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', init, false);

  async function init() {
    if (document.querySelector("#scrollspy") !== null) {
        const scrollSpy = new te.ScrollSpy(document.body, {
          target: "#scrollspy",
          offset: 150
        });
    }
  }
</script> 

{% comment %} <script>
  document.addEventListener('DOMContentLoaded', init, false);

  async function init() {
    
    fetch("/miscellaneous/top_nav_bar?" + new Date(Date.now()).toISOString().slice(0,13), {cache: "force-cache"}).then((response) => {
      console.log("Top Nav Bar Loaded");
      response.text().then((text) => {
        document.querySelector("#top_nav_bar").innerHTML = text;
        let scriptEle = document.createElement("script");
        scriptEle.setAttribute("src", "{% static 'js/tw-elements.umd.min.js' %}");
        document.body.appendChild(scriptEle);
        const scrollSpy = new te.ScrollSpy(document.body, {
          target: "#scrollspy",
          offset: 150
        });
      });
    });
  }
</script> {% endcomment %}
{% endblock %}
