{% load static menu_tags weather_tags %}

{% get_menu "navigation" as navigation_menu %}

<!-- Main navigation container -->
<nav
  class="relative md:flex w-full py-2 bg-neutral-200 dark:bg-neutral-600 font-['Lexend']"
  data-te-navbar-ref>
    <div class="list-style-none mr-auto flex pl-0 lg:my-0 flex-row flex-wrap items-center justify-between">
      {% any_weather as have_weather %}
      {% if have_weather %}
        {% include "components/weather_dropdown.html" %}
      {% endif %}
      {% any_airquality as have_airquality %}
      {% if have_airquality %}
        {% include "components/air_quality_dropdown.html" %}
      {% endif %}
      {% include "components/electric_vehicle_dropdown.html" %}
    </div>
    <div class="my-0 hidden md:flex">
      <div class="my-auto">{% include "components/search.html" %}</div>
      <div><a href="https://www.facebook.com/villageofconsort" target="_blank" class="my-auto"><i class="fa-brands fa-square-facebook fa-3x mr-2"></i></a></div>
  </div>
</nav>
<nav
class="flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 shadow-lg dark:bg-neutral-600 lg:py-4 font-['Lexend']"
data-te-navbar-ref>
  <button
  class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
  type="button"
  data-te-sidenav-toggle-ref
data-te-target="#sidenav-1"
aria-controls="sidenav-1"
aria-haspopup="true">
  <!-- Hamburger icon -->
  <span class="[&>svg]:w-7">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="h-7 w-7">
      <path
        fill-rule="evenodd"
        d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd" />
    </svg>
  </span>
</button>
<!-- class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto" -->
<div
class="lg:flex lg:grow min-[1600px]:grow-0 lg:flex-wrap lg:items-center lg:justify-between lg:px-3 lg:!relative lg:visible lg:!h-auto lg:!w-auto lg:!bg-transparent lg:!shadow-none lg:overflow-visible lg:!translate-x-0 fixed left-0 top-0 z-[1035] h-full w-60 -translate-x-full bg-white shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0 dark:bg-zinc-800"

id="sidenav-1"
data-te-sidenav-init
data-te-sidenav-hidden="true"
data-te-sidenav-position="fixed"
data-te-sidenav-width="300">
<div class="flex mx-0 lg:mx-7">
  <a href="#" class="mx-auto">
    <img class="my-5 w-[250px] hidden lg:inline lg:w-10 min-[1600px]:hidden" src="{% static 'images/logo_small.webp' %}">
    <img class="my-5 inline md:hidden min-[1600px]:inline w-64 mx-4 my-0" src="{% static 'images/logo.webp' %}">
  </a>
</div>
  <div class="px-0 lg:grow xl:px-3">
    <div class="lg:flex mx-auto lg:items-center lg:justify-between">
      {% for item in navigation_menu.menu_items.all %}
        <div>
          {% include "components/menu_dropdown.html" with menu_item=item %}
        </div>
      {% endfor %}
    </div>
  </div>
  </div>

<div class="my-0 flex md:hidden flex-grow">
  <div class="my-auto flex-grow">{% include "components/search.html" %}</div>
  <div><a href="https://www.facebook.com/villageofconsort" target="_blank" class="my-auto"><i class="fa-brands fa-square-facebook fa-3x mr-2"></i></a></div>
</div>
</nav>