{{ define "main" }}
<div id="main-content">
  <article>
    <header class="page-header">
      <h1>{{ .Title }}</h1>

      {{ with .Description }}
        <p class="page-description">{{ . }}</p>
      {{ end }}

      {{ if not .Date.IsZero }}
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format "January 2, 2006" }}
        <p class="page-meta">
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        </p>
      {{ end }}
    </header>

    <div class="page-content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
      <footer class="page-footer">
        <div class="page-tags">
          <strong>Tags:</strong>
          {{ range . }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="tag">{{ . }}</a>
          {{ end }}
        </div>
      </footer>
    {{ end }}
  </article>
</div>
{{ end }}
