{% extends "components/dropdown.html" %}

{% block id %}
weather-dropdown
{% endblock %}

{% block labelledby %}
weather-dropdown
{% endblock %}

{% block title %}
<i class="fa-solid fa-sun me-2"></i>12°C
{% endblock %}

{% block content %}
<div class="px-3 py-3">
    <div class="text-3xl font-semibold mb-5">Weather Forecast</div>
    <div class="columns-5 mb-5"> 
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
    </div>
    <div>Weather data from openweather</div>
</div>
{% endblock %}