{% extends "components/dropdown.html" %}

{% block title %}
<i class="fa-solid fa-sun me-2"></i>12°C
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Weather Forecast</h1>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
        <div class="col">
            <p class="text-body-secondary">Sunny</p>
        </div>
    </div>
    <div class="text-body-secondary">Weather data from openweather</div>
</div>
{% endblock %}