{% load wagtailcore_tags menu_tags %}

<div class="lg:relative" data-te-dropdown-ref>
    <div class="dropdown">
      {% has_children menu_item.submenu_items.all as has_items %}
      {% if has_items %}
        <button
              class="ps-2 w-full lg:w-auto flex items-center whitespace-nowrap lg:rounded-lg bg-transparent lg:px-3 xl:px-6 pb-3 pt-3.5 text-normal min-[1500px]:text-xl font-light leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#fbfbfb] transition duration-100 hover:bg-neutral-200 hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus-visible:bg-neutral-200 focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] motion-reduce:transition-none"
              type="button"
              data-te-collapse-init
              data-te-target="#{{menu_item.page.slug}}"
              aria-controls="{{menu_item.page.slug}}">
              <span>
            {% if menu_item.page and menu_item.page.title %}
            {{ menu_item.page.title }}
            {% endif %}
            </span>
              <span class="ml-2 w-2 absolute right-0 mr-5 lg:relative lg:mr-0 lg:right-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-5 w-5">
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd" />
                </svg>
              </span>
        </button>
        <div class="relative {% alignment_classes menu_item.alignment %} bg-clip-padding bg-white lg:z-[1500] lg:absolute mt-1 p-0 float-left m-0 hidden min-w-max list-none overflow-hidden lg:rounded-lg text-left text-base lg:shadow-lg dark:bg-neutral-700 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
              id="{{menu_item.page.slug}}""
              data-te-collapse-item>
              <div class="lg:max-w-2xl lg:grid lg:grid-cols-2 auto-rows-fr gap-2 lg:p-3">
            {% if menu_item.submenu_items %}
                {% for item in menu_item.submenu_items.all %}
                    {% include "components/menu_item_card.html" with page=item.page open_in_new_tab=item.open_in_new_tab %}
                {% endfor %}
            {% endif %}
        </div>
      </div>
        {% else %}
        <a
        class="ps-2 w-full lg:w-auto flex items-center whitespace-nowrap lg:rounded-lg bg-transparent lg:px-3 xl:px-6 pb-3 pt-3.5 text-normal min-[1500px]:text-xl font-light leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#fbfbfb] transition duration-100 hover:bg-neutral-200 hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus-visible:bg-neutral-200 focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] motion-reduce:transition-none"
        href="{% pageurl menu_item.page %}">
        {% if menu_item.page and menu_item.page.title %}
            {{ menu_item.page.title }}
            {% endif %}
        </a>
        {% endif %}
        
    </div>
    </div>