<a href="{{ url }}" class="mx-auto mb-10 sm:px-2 xl:px-5">
    <div class="sticky flex rounded-lg shadow-lg overflow-hidden w-[280px] h-[120px]">
        <div class="flex bg-orange-400 w-full">
            <div class="flex rounded-lg">
                <i class="fa fa-solid {{link.page.icon}} fa-3x text-black p-3 my-auto w-[100px]"></i>
            </div>
            <div class="p-3 pl-0 mr-3 text-right text-normal ml-auto my-auto">
                {% if description %}
                <p class="text-normal my-3">{{ description }}</p>
                {% else %}
                Click to visit page
                 {% endif %}
            </div>           
      </div>
      <div class="absolute w-[280px] h-[120px]">
        <div class="flex transition duration-500 ease-in-out translate-x-[-280px] h-[120px] xl:hover:translate-x-[0px] w-[560px]">
            <div class="flex p-1 xl:p-3 ml-auto my-auto bg-neutral-50 w-[180px] h-[120px]">
                <div class="my-auto mx-auto text-base xl:text-lg font-semibold">
                    {{ title }}
                <div class="xl:hidden">
                    {% if description %}
                <p class="text-xs mt-3 font-normal">{{ description }}</p>
                {% endif %}
                </div>
            </div>
            </div>
        </div>           
    </div>
    </div>
</a>